/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #30343f;
  font-family: "Work Sans", serif;
}
body header {
  font-family: initial;
}
body header .navbar {
  padding: 1rem;
}
body header .navbar #navbarNav {
  justify-content: right;
}
body main {
  background-color: #30343f;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .btn {
  padding: 0.7rem 2rem;
  margin: 1rem 0;
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
  background-color: #5b2a86;
  transition: all 0.3s ease-out;
}
body main .btn:hover {
  background-color: #9d4edd;
}
body main .sidebar {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
body main .sidebar .sidebar-links {
  margin-right: 1rem;
  padding: 1rem 0;
  width: auto;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 3rem;
  background-color: #5b2a86;
}
body main .sidebar .sidebar-links i {
  margin: 1rem;
  font-size: 2rem;
  color: #fff;
  transition: transform 0.3s ease;
}
body main .sidebar .sidebar-links i:hover {
  transform: translateX(-0.5rem);
}

.hero {
  width: 100%;
  max-width: 1360px;
  padding: 10rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
}
@media screen and (max-width: 768px) {
  .hero {
    margin-top: 1rem;
    flex-direction: column;
    padding: 0 3rem;
  }
}
.hero .hero-text {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
}
@media screen and (max-width: 768px) {
  .hero .hero-text {
    width: 100%;
    align-items: center;
  }
}
.hero .hero-text h1 {
  color: #fff;
  margin-bottom: 1rem;
  font-size: 3.5rem;
}
@media screen and (max-width: 1024px) {
  .hero .hero-text h1 {
    font-size: 2.5rem;
  }
}
.hero .hero-text h2 {
  color: #9d4edd;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 1024px) {
  .hero .hero-text h2 {
    font-size: 1.8rem;
  }
}
.hero .hero-text .btn {
  width: -moz-fit-content;
  width: fit-content;
}
.hero .hero-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .hero-img img {
  width: 22rem;
  height: 22rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
@media screen and (max-width: 1024px) {
  .hero .hero-img img {
    width: 18rem;
    height: 18rem;
  }
}
@media screen and (max-width: 768px) {
  .hero .hero-img img {
    margin-top: 2rem;
    width: 15rem;
    height: 15rem;
  }
}

.about {
  width: 100%;
  max-width: 1360px;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  min-height: 100vh;
  height: -moz-fit-content;
  height: fit-content;
}
@media screen and (max-width: 768px) {
  .about {
    margin-top: 5rem;
    flex-direction: column;
    padding: 0 3rem;
  }
}
.about .about-content {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
}
@media screen and (max-width: 768px) {
  .about .about-content {
    width: 100%;
    align-items: center;
  }
}
.about .about-content h1 {
  font-family: "Itim", serif;
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 1rem;
}
.about .about-content p {
  font-family: "Itim", serif;
  color: #fff;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.about .about-content p.highlited-text {
  font-family: initial;
  color: #9d4edd;
  font-weight: 900;
  font-size: 1.5rem;
}
.about .about-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .about .about-img {
    width: 100%;
  }
}
.about .about-img img {
  width: 100%;
  height: 100%;
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}
.projects-container h2 {
  font-family: "Itim", serif;
  margin-top: 5rem;
  font-size: 2.3rem;
  color: #fff;
  text-transform: uppercase;
}
.projects-container .projects-wrapper {
  width: 100%;
  max-width: 1360px;
  padding: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  font-weight: 300;
}
@media screen and (max-width: 1360px) {
  .projects-container .projects-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 1024px) {
  .projects-container .projects-wrapper {
    -moz-column-gap: 0.5rem;
         column-gap: 0.5rem;
  }
}
@media screen and (max-width: 768px) {
  .projects-container .projects-wrapper {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 480px) {
  .projects-container .projects-wrapper {
    padding: 2rem 0.5rem;
  }
}
.projects-container .projects-wrapper .project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 470px;
  color: #fff;
  border-radius: 1rem;
  background-color: #5b2a86;
}
@media screen and (max-width: 1024px) {
  .projects-container .projects-wrapper .project {
    width: 350px;
  }
}
@media screen and (max-width: 400px) {
  .projects-container .projects-wrapper .project {
    width: 320px;
  }
}
.projects-container .projects-wrapper .project h3 {
  font-family: "Itim", serif;
  font-size: 1.4rem;
  text-align: center;
  margin: 0.5rem 0;
  font-weight: 400;
  text-transform: uppercase;
}
.projects-container .projects-wrapper .project h4 {
  font-size: 0.9rem;
  text-align: center;
  margin: 0.5rem 1rem;
}
.projects-container .projects-wrapper .project p {
  text-align: left;
  line-height: 1.1;
}
.projects-container .projects-wrapper .project img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 1024px) {
  .projects-container .projects-wrapper .project img {
    height: 180px;
  }
}
@media screen and (max-width: 480px) {
  .projects-container .projects-wrapper .project img {
    height: 170px;
  }
}
.projects-container .projects-wrapper .project p {
  padding: 1rem;
}
.projects-container .projects-wrapper .project .project-btns {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.projects-container .projects-wrapper .project .project-btns a {
  color: #fff;
}
.projects-container .projects-wrapper .project .project-btns a .btn {
  width: 8rem;
  padding: 0.5rem 0.7rem;
  background-color: #9d4edd;
}
.projects-container .projects-wrapper .project .project-btns a .btn:hover {
  background-color: #5b2a86;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1360px;
  padding: 2rem;
  position: relative;
  margin-bottom: 0;
}
@media screen and (max-width: 1360px) {
  .contact-container {
    width: 85%;
  }
}
@media screen and (max-width: 1024px) {
  .contact-container {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    margin-top: 5rem;
  }
}
.contact-container img {
  position: absolute;
  top: 170px;
  left: -40px;
  width: 200px;
}
@media screen and (max-width: 1024px) {
  .contact-container img {
    left: -70px;
  }
}
@media screen and (max-width: 768px) {
  .contact-container img {
    left: -40px;
  }
}
.contact-container .contact-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  height: 400px;
  padding: 1rem;
  border: 1rem solid #5b2a86;
  border-radius: 1rem 0 0 1rem;
  padding: 2rem;
  text-align: center;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .contact-container .contact-details {
    width: 90%;
    border-radius: 1rem 1rem 0 0;
  }
}
.contact-container .contact-details h2 {
  font-size: 2rem;
  color: #5b2a86;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .contact-container .contact-details h2 {
    font-size: 1.5rem;
  }
}
.contact-container .contact-details p {
  display: flex;
  justify-content: left;
  padding-left: 2rem;
  line-height: 2rem;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 700;
  flex-wrap: wrap;
}
@media screen and (max-width: 1360px) {
  .contact-container .contact-details p {
    font-size: 0.9rem;
    padding-left: 1.8rem;
  }
}
@media screen and (max-width: 1024px) {
  .contact-container .contact-details p {
    padding-left: 0.4rem;
  }
}
@media screen and (max-width: 480px) {
  .contact-container .contact-details p {
    font-size: 0.7rem;
  }
}
.contact-container .contact-details p a {
  color: #5b2a86;
  transition: all 0.3s ease;
}
.contact-container .contact-details p a:hover {
  color: #9d4edd;
}
.contact-container .contact-details p i {
  margin: 0 0.5rem 0 2rem;
}
@media screen and (max-width: 1360px) {
  .contact-container .contact-details p i {
    margin: 0 0.4rem 0 1.2rem;
  }
}
@media screen and (max-width: 480px) {
  .contact-container .contact-details p i {
    margin: 0 0.2rem 0 0.6rem;
  }
}
.contact-container .contact-details p strong {
  font-weight: 500;
}
.contact-container .contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 400px;
  text-align: left;
  padding: 2rem;
  background-color: #5b2a86;
  border-radius: 0 1rem 1rem 0;
}
@media screen and (max-width: 768px) {
  .contact-container .contact-form {
    width: 90%;
    border-radius: 0 0 1rem 1rem;
  }
}
.contact-container .contact-form .form-label,
.contact-container .contact-form .form-input {
  display: block;
  margin-bottom: 1rem;
  color: #fff;
}
.contact-container .contact-form .form-input {
  width: 80%;
  height: 2.5rem;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  color: #000;
  transition: all 0.5s ease;
}
@media screen and (max-width: 480px) {
  .contact-container .contact-form .form-input {
    width: 100%;
    height: 2.2rem;
  }
}
.contact-container .contact-form .form-input.textarea {
  width: 80%;
  height: 10rem;
}
@media screen and (max-width: 480px) {
  .contact-container .contact-form .form-input.textarea {
    width: 100%;
  }
}
.contact-container .contact-form .form-input:focus {
  background-color: #9d4edd;
  outline: none;
}
.contact-container .contact-form .btn {
  background-color: #9d4edd;
  margin: 0.5rem;
  padding: 0.5rem 1.5rem;
}
.contact-container .contact-form .btn:hover {
  background-color: #5b2a86;
  color: #fff;
}/*# sourceMappingURL=global.css.map */